
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f9f9; 
    color: #333;
}


header {
    background-color: #5a9a9e; 
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    font-size: 25px;
}


nav a {
    color: #3a8f33;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #e0f2f1; 
}

nav a:hover {
    background-color: #80deea; 
}


img {
   width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #36636b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #060607;
}